body{
    display: flex;
    justify-content: center;
    background-color: black;
}
#calculator{
    border: 1px solid black;
    width: 300px;
    border-radius: 10px;
    background: grey;
}
#display{
    margin: 18px;
    height: 100px;
    width: 86%;
    border-color: black;
    border: none;
    border-radius: 5px;
    font-size: 50px;
    text-align: right;
}
.btn-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.btn{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 3px;
    border: none;
}